
 /* .first{
    background-color: aquamarine;
}

.second{
    background-color: blueviolet;
}

.third{
    background-color: coral;
}  */

  body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  .navbar-brand, .navbar-nav {
    margin: 20px 0px;
  }

  li {
    margin: 0px 100px;
}